* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(160, 160, 160);
}

.wheelCon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.controlsCon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 15px;
    align-items: center;
}

.wheelPrize {
    width: 40%;
}

.wheelPin {
    position: absolute;
    width: 40%;
}

.spinButton{
    width: 20%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 3px;
}

label{
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}

.spinButton:hover{
    transition-duration: 500ms;
    background-color: rgb(80, 187, 80);
    color: white;
}

@media only screen and (max-width: 768px) {

    .wheelPrize,
    .wheelPin {
        width: 60%;
    }
}

@media only screen and (max-width: 425px) {

    .wheelPrize,
    .wheelPin {
        width: 70%;
    }
}